---
---
body {
  box-sizing: border-box;
  color:#212121;
  background: #373737;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}


@import "{{ site.theme }}";
